
/* Write your CSS here. */

body {
    font-family: 'Roboto', 'Arial Narrow', 'Arial', sans;
    margin: 0;
    padding: 0;
    zoom: 0.75;
    background-color:white;
} 

.header {
    text-align: center;
    font-size: 60pt;
    font-family: 'Cherry Coke', 'Roboto', sans;
    color: white;
    background-color: navy;
    border: 3px solid white;
    border-radius: 10px;
    padding: 10px;
    margin: 0px;
}

.navbar{
    display:flex;
    height: 35px;
    font-size: 24px;
    flex-flow: row;
    justify-content: space-around;
    background-color: navy;
    color: white;
    padding: 10px;
}
.navbar__button {
    font-size: 20px;
}

.navbar__score--gameover {
    color: red;
    font-weight: bold;
    font-size: 32px;
}

.pf {
    /* cursor: url(http://cur.cursors-4u.net/others/oth-5/oth435.cur), auto; */
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=54432), auto;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    row-gap: 20px;
    column-gap: 0px;
    background-color: burlywood;
    border: 2px solid black;
    margin: 30px;
    padding: 30px;
}

.wgs{
    position: relative;
    width: 320px;
    height: 241px;
    overflow: hidden;
}

.wgs__mole-head{
    position: absolute;
    width: 188px;
    height: 178px;
    left: 55px;
    transition-duration: 0.25s;
}

.wgs__dirt-pile{
    position: absolute;
    width: 320px;
    height: 110px;
    bottom: 0;
}

.wgs__mole-head--hidden{
    margin-top: 482px;
}





